<div class="grid_12">
<h1 class="logo inline">Farms</h1>
<a class="button button-add inline f-right" href=<%= new_farm_path %>> <span class="grid_1 alpha"><h3>Farm</h3></span></a>
<table>
  <tr class="header">
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @farms.each do |farm| %>
  <tr>
    <td><%= farm.name %></td>
    <td><%= link_to image_tag("../images/open.png", :title => 'Open'), farm %></td>
    <td><%= link_to image_tag("../images/edit.png", :title => 'Edit'), edit_farm_path(farm) %></td>
    <td><%= link_to image_tag("../images/delete.png", :title => 'Delete'), farm, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
</div>

