<%= form_for(@herd) do |f| %>
  <% if @herd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@herd.errors.count, "error") %> prohibited this herd from being saved:</h2>

      <ul>
      <% @herd.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
<div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :farm %><br />
    <%= f.collection_select(:farm_id,Farm.where(:user_id => @logged_user.id),:id,:name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
