<!DOCTYPE html>
<html>
    <head class="bg-color1">
      <title>Farm Tracker</title>

      <%= stylesheet_link_tag "/stylesheets/960" %>
      <%= stylesheet_link_tag "/stylesheets/style" %>
      <%= stylesheet_link_tag "/stylesheets/scaffold" %>
      <%= javascript_include_tag "application" %>


      <%= csrf_meta_tags %>
    </head>

    <body class="bg-color3">
    <div class="bg-color2">
         <div class="container_12 bg-color2">
              <a href=<%= home_path %>>
                    <div class="grid_1">
                        <img class="inline" src="/../images/bull.png" />
                    </div>
                    <div class="grid_2" style="padding-left: 15px;">
                        <h1 class="logo inline">Farm <br/> <br/>&nbsp Tracker</h1>
                    </div>
              </a>
              <div class="grid_8" style="padding-top: 35px;">
                <a href=<%= farms_path %>> <span class="grid_2 alpha bg-color3 nav"><h3 class="white">Farms</h3></span></a>
                <a href=<%= herds_path %>> <span class="grid_2 alpha bg-color3 nav"><h3 class="white">Herds</h3></span></a>
                <!--<a href=<%= animals_path %>> <span class="grid_2 alpha bg-color3 nav"><h3 class="white">Animals</h3></span></a>-->
                <a href=<%= posts_path %>> <span class="grid_2 alpha bg-color3 nav"><h3 class="white">Blog</h3></span></a>
              </div>


           <div class="clear"></div>
         </div>
      <%= link_to image_tag("../images/edit.png", :title => 'Edit User Info'), edit_user_path(@logged_user), :class =>"f-right inline", :style => "padding-right: 10px;" if @logged_user  %>
      <%= link_to @logged_user.userName + ' logout', :logout, :class =>"f-right inline white", :style => "padding-right: 10px;" if @logged_user  %>

    </div>
    <div class="container_12 bg-color3" style="padding-top: 10px;"></div>
     <div class="clear"></div>
     <div class="bg-color1" style="padding-bottom: 800px;">
         <div class="container_12">
             <%= yield %>
            <div class="clear"></div>
         </div>
     </div>
    <div class="clear"></div>
    </body>
</html>
